.our-table {
    background-color: #dcd4c0 !important;
    width: 100%;
    tr {
        text-align: left;
    }

    .table-head {
        height: 25px;
        font-size: 16px;
        background-color: #5f927a;
    }

    .activity-date {
        padding-left: 15px;
    }
}

.baby-push-button {
    position: relative;

    .push-button {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .push-button:hover {
        animation: rotate 3.5s linear infinite;
        cursor: pointer;
    }

      @keyframes rotate{
        to{ transform: rotate(360deg); }
      }
}



@media (max-width: 412px) {
    .baby-push-button {
        // text-align: center;
        left: 20.5vh;
        top: 13px;
    }

    .demo-button-container {
        display: flex;
        gap: 192px;
        padding-bottom: 20px;
    }

    .xlsx-button {
        margin-top: 15px;
    }

    .xlsx-button:hover {
        cursor: pointer;
    }
  }

  @media (max-width: 1160px) {
    .container {
      @apply max-w-[1075px];
    }
    .footer {
      @apply hidden;
    }
  }