.our-table {
    background-color: #ffffff !important;
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px 8px 8px #00000061;
    display: block;
    border: 1px solid green;
    height: 550px;
    overflow-y: scroll;
    
    
    tr {
        text-align: left;
    }

    .table-head {
        height: 25px;
        font-size: 16px;
        color: #838d96;
        border-radius: 12px !important;

        position: sticky;
        top: 0;
        background: white;
        z-index: 2;
    }

    .activity-date {
        padding-left: 20px;
    }

    .grouping {
        padding-left: 10px;
        background-color: #f8808a;
        position: sticky;
        top: 24px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        z-index: 2;
    }

    .total-count {
        padding-left: 10px;
        position: sticky;
        bottom: 0;
        background: white;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-top: 10px;
        z-index: 1;
    }
}

.baby-push-button {
    position: relative;

    .push-button {
        position: absolute;
        left: 24px;
        top: 23px;
    }
    .push-button:hover {
        animation: rotate 3.5s linear infinite;
        cursor: pointer;
    }

      @keyframes rotate{
        to{ transform: rotate(360deg); }
      }
}



@media (max-width: 420px) {
    .baby-push-button {
        // text-align: center;
        right: 4.5vh;
        top: 13px;
    }

    .demo-button-container {
        display: flex;
        justify-content: end;
        padding-bottom: 10px;
    }

    .delete-button {
        float: right;
        margin: 0 10px 10px 0;
        color: #f8808a;
        background: white;
        border: 1px solid gray;
        border-radius: 4px;
        padding: 5px 15px;
    }

    .our-table {
        margin-top: 10px;

        .selected {
            background-color: #ff00002e;
        }

        .standard {

        }
    }

    .xlsx-button {
        margin-top: 15px;
    }

    .xlsx-button:hover {
        cursor: pointer;
    }
  }

  @media (max-width: 1160px) {
    .container {
      @apply max-w-[1075px];
    }
    .footer {
      @apply hidden;
    }
  }