/* You can add global styles to this file, and also import other style files */
body {
    // background: radial-gradient(circle, rgba(24,186,12,0.5942752100840336) 37%, rgba(217,246,14,0.08167016806722693) 93%);
    
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: #303d4d;
  background-color: #faeeee;
}